{
    "discord_token": "NjM0Nz...",
    "prefix": "!",
    "bypass_list": ["<discord_user_id>"],
    "db": {
        "dialect": "sqlite",
        "storage": "./database/babeldb.sqlite",
        "logging": false
    },
    "api": {
        "latest_chapters": "https://babelnovel.com/api/chapters/latest"
    },
    "numerics": { 
        "latest_chapter_interval": 2,
        "latest_chapter_count": 200,
        "latest_chapter_limit": 20
    }
}